postgres:
  credentials:
    password: REPLACE_ME

keycloak:
  admin:
    password: REPLACE_ME

minio:
  credentials:
    password: REPLACE_ME

grafana:
  admin:
    password: REPLACE_ME

emqx:
  dashboardPassword: REPLACE_ME
  mqttUsers:
    controllerPassword: REPLACE_ME
    bootstrapPassword: REPLACE_ME

ui:
  nextAuthSecret: REPLACE_ME
  keycloakClientSecret: REPLACE_ME

controller:
  caEncryptionKey: REPLACE_ME
